[Unit]
Description=Service that monitors for power-off button press
After=NetworkManager.service
[Service]
Type=simple
User=root
Environment=PYTHONUNBUFFERED=1
ExecStart=/home/orangepi/Pi_Poweroff.py
[Install]
WantedBy=multi-user.target
