[Unit]
After=NetworkManager.service
[Service]
Type=simple
User=root
Environment=PYTHONUNBUFFERED=1
ExecStart=/home/ubuntu/Pi_Poweroff.py
[Install]
WantedBy=multi-user.target
